<?xml version="1.0"?>
<pecan>
 <info>
  <notes></notes>
  <userid>-1</userid>
  <username></username>
 </info>
 <outdir>output</outdir>
 <modeloutdir>output/out</modeloutdir>
 <rundir>output/run</rundir>
 <pfts>
  <pft>
   <name>temperate.deciduous</name>
   <posterior.files>pfts/temperate.deciduous/post.distns.Rdata</posterior.files>
   <outdir>output/pfts/temperate.deciduous</outdir>
  </pft>
  <pft>
   <name>grass</name>
   <posterior.files>pfts/grass/post.distns.Rdata</posterior.files>
   <outdir>output/pfts/grass</outdir>
  </pft>
 </pfts>
 <ensemble>
  <size>20</size>
  <variable>NPP</variable>
  <variable>TotSoilCarb</variable>
  <variable>AbvGrndWood</variable>
  <variable>Qle</variable>
  <variable>SoilMoistFrac</variable>
  <samplingspace>
   <parameters>
    <method>uniform</method>
   </parameters>
   <met>
    <method>sampling</method>
   </met>
   <poolinitcond>
    <method>sampling</method>
   </poolinitcond>
  </samplingspace>
  <start.year>2000</start.year>
  <end.year>2014</end.year>
 </ensemble>
 <model>
  <id>99000000003</id>
  <type>SIPNET</type>
  <revision>git</revision>
  <delete.raw>TRUE</delete.raw>
  <binary>sipnet.git</binary>
  <prerun>cp data/events.in @RUNDIR@</prerun>
 </model>
 <run>
  <site>
   <field_id>russell_ranch</field_id>
   <id>ec0e8b4d92044f52</id>
   <lat>38.54295</lat>
   <lon>-121.87235</lon>
   <site.pft>annual_crop</site.pft>
   <name>ec0e8b4d92044f52</name>
   <ERA5_grid_cell>38.5N_122W</ERA5_grid_cell>
   <met.start>2000-01-01</met.start>
   <met.end>2014-12-31</met.end>
  </site>
  <start.date>2000-01-01</start.date>
  <end.date>2014-12-31</end.date>
  <inputs>
   <met>
    <id></id>
    <path>
     <path1>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/russell-ranch/data/ERA5_SIPNET/38.5N_122W/ERA5.1.2000-01-01.2014-12-31.clim</path1>
     <path2>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/russell-ranch/data/ERA5_SIPNET/38.5N_122W/ERA5.2.2000-01-01.2014-12-31.clim</path2>
     <path3>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/russell-ranch/data/ERA5_SIPNET/38.5N_122W/ERA5.3.2000-01-01.2014-12-31.clim</path3>
     <path4>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/russell-ranch/data/ERA5_SIPNET/38.5N_122W/ERA5.4.2000-01-01.2014-12-31.clim</path4>
     <path5>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/russell-ranch/data/ERA5_SIPNET/38.5N_122W/ERA5.5.2000-01-01.2014-12-31.clim</path5>
     <path6>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/russell-ranch/data/ERA5_SIPNET/38.5N_122W/ERA5.6.2000-01-01.2014-12-31.clim</path6>
     <path7>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/russell-ranch/data/ERA5_SIPNET/38.5N_122W/ERA5.7.2000-01-01.2014-12-31.clim</path7>
     <path8>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/russell-ranch/data/ERA5_SIPNET/38.5N_122W/ERA5.8.2000-01-01.2014-12-31.clim</path8>
     <path9>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/russell-ranch/data/ERA5_SIPNET/38.5N_122W/ERA5.9.2000-01-01.2014-12-31.clim</path9>
     <path10>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/russell-ranch/data/ERA5_SIPNET/38.5N_122W/ERA5.10.2000-01-01.2014-12-31.clim</path10>
    </path>
   </met>
   <poolinitcond>
    <source>RS_veg</source>
    <output>poolinitcond</output>
    <ensemble>20</ensemble>
    <path>
     <path1>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/russell-ranch/IC_files/ec0e8b4d92044f52/IC_site_ec0e8b4d92044f52_1.nc</path1>
     <path2>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/russell-ranch/IC_files/ec0e8b4d92044f52/IC_site_ec0e8b4d92044f52_2.nc</path2>
     <path3>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/russell-ranch/IC_files/ec0e8b4d92044f52/IC_site_ec0e8b4d92044f52_3.nc</path3>
     <path4>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/russell-ranch/IC_files/ec0e8b4d92044f52/IC_site_ec0e8b4d92044f52_4.nc</path4>
     <path5>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/russell-ranch/IC_files/ec0e8b4d92044f52/IC_site_ec0e8b4d92044f52_5.nc</path5>
     <path6>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/russell-ranch/IC_files/ec0e8b4d92044f52/IC_site_ec0e8b4d92044f52_6.nc</path6>
     <path7>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/russell-ranch/IC_files/ec0e8b4d92044f52/IC_site_ec0e8b4d92044f52_7.nc</path7>
     <path8>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/russell-ranch/IC_files/ec0e8b4d92044f52/IC_site_ec0e8b4d92044f52_8.nc</path8>
     <path9>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/russell-ranch/IC_files/ec0e8b4d92044f52/IC_site_ec0e8b4d92044f52_9.nc</path9>
     <path10>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/russell-ranch/IC_files/ec0e8b4d92044f52/IC_site_ec0e8b4d92044f52_10.nc</path10>
     <path11>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/russell-ranch/IC_files/ec0e8b4d92044f52/IC_site_ec0e8b4d92044f52_11.nc</path11>
     <path12>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/russell-ranch/IC_files/ec0e8b4d92044f52/IC_site_ec0e8b4d92044f52_12.nc</path12>
     <path13>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/russell-ranch/IC_files/ec0e8b4d92044f52/IC_site_ec0e8b4d92044f52_13.nc</path13>
     <path14>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/russell-ranch/IC_files/ec0e8b4d92044f52/IC_site_ec0e8b4d92044f52_14.nc</path14>
     <path15>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/russell-ranch/IC_files/ec0e8b4d92044f52/IC_site_ec0e8b4d92044f52_15.nc</path15>
     <path16>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/russell-ranch/IC_files/ec0e8b4d92044f52/IC_site_ec0e8b4d92044f52_16.nc</path16>
     <path17>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/russell-ranch/IC_files/ec0e8b4d92044f52/IC_site_ec0e8b4d92044f52_17.nc</path17>
     <path18>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/russell-ranch/IC_files/ec0e8b4d92044f52/IC_site_ec0e8b4d92044f52_18.nc</path18>
     <path19>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/russell-ranch/IC_files/ec0e8b4d92044f52/IC_site_ec0e8b4d92044f52_19.nc</path19>
     <path20>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/russell-ranch/IC_files/ec0e8b4d92044f52/IC_site_ec0e8b4d92044f52_20.nc</path20>
    </path>
   </poolinitcond>
  </inputs>
 </run>
 <host>
  <name>localhost</name>
  <qsub>sbatch -J @NAME@ -o @STDOUT@ -e @STDERR@ </qsub>
  <qsub.jobid>Submitted batch job ([0-9]+)</qsub.jobid>
  <qstat>if test -z &quot;$(squeue -h -j @JOBID@)&quot;; then echo &quot;DONE&quot;; fi</qstat>
  <outdir>output/out</outdir>
  <rundir>output/run</rundir>
 </host>
 <multisettings/>
</pecan>
