<?xml version="1.0"?>
<pecan>
 <info>
  <notes></notes>
  <userid>-1</userid>
  <username></username>
 </info>
 <outdir>output</outdir>
 <modeloutdir>output/out</modeloutdir>
 <rundir>output/run</rundir>
 <pfts>
  <pft>
   <name>temperate.deciduous</name>
   <posterior.files>pfts/temperate.deciduous/post.distns.Rdata</posterior.files>
   <outdir>output/pfts/temperate.deciduous</outdir>
  </pft>
  <pft>
   <name>grass</name>
   <posterior.files>pfts/grass/post.distns.Rdata</posterior.files>
   <outdir>output/pfts/grass</outdir>
  </pft>
 </pfts>
 <ensemble>
  <size>20</size>
  <variable>NPP</variable>
  <variable>TotSoilCarb</variable>
  <variable>AbvGrndWood</variable>
  <variable>Qle</variable>
  <variable>SoilMoistFrac</variable>
  <samplingspace>
   <parameters>
    <method>uniform</method>
   </parameters>
   <met>
    <method>sampling</method>
   </met>
   <poolinitcond>
    <method>sampling</method>
   </poolinitcond>
  </samplingspace>
  <start.year>2003</start.year>
  <end.year>2011</end.year>
 </ensemble>
 <model>
  <id>99000000003</id>
  <type>SIPNET</type>
  <revision>git</revision>
  <delete.raw>TRUE</delete.raw>
  <binary>sipnet.git</binary>
  <prerun>cp data/events.in @RUNDIR@</prerun>
 </model>
 <run>
  <site>
   <field_id>salinas_socs</field_id>
   <id>9f296becf416ce87</id>
   <lat>36.62</lat>
   <lon>-121.53</lon>
   <site.pft>annual_crop</site.pft>
   <name>9f296becf416ce87</name>
   <ERA5_grid_cell>36.5N_121.5W</ERA5_grid_cell>
   <met.start>2003-01-01</met.start>
   <met.end>2011-12-31</met.end>
  </site>
  <start.date>2003-01-01</start.date>
  <end.date>2011-12-31</end.date>
  <inputs>
   <met>
    <id></id>
    <path>
     <path1>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/salinas-socs/data/ERA5_SIPNET/36.5N_121.5W/ERA5.1.2003-01-01.2011-12-31.clim</path1>
     <path2>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/salinas-socs/data/ERA5_SIPNET/36.5N_121.5W/ERA5.2.2003-01-01.2011-12-31.clim</path2>
     <path3>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/salinas-socs/data/ERA5_SIPNET/36.5N_121.5W/ERA5.3.2003-01-01.2011-12-31.clim</path3>
     <path4>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/salinas-socs/data/ERA5_SIPNET/36.5N_121.5W/ERA5.4.2003-01-01.2011-12-31.clim</path4>
     <path5>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/salinas-socs/data/ERA5_SIPNET/36.5N_121.5W/ERA5.5.2003-01-01.2011-12-31.clim</path5>
     <path6>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/salinas-socs/data/ERA5_SIPNET/36.5N_121.5W/ERA5.6.2003-01-01.2011-12-31.clim</path6>
     <path7>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/salinas-socs/data/ERA5_SIPNET/36.5N_121.5W/ERA5.7.2003-01-01.2011-12-31.clim</path7>
     <path8>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/salinas-socs/data/ERA5_SIPNET/36.5N_121.5W/ERA5.8.2003-01-01.2011-12-31.clim</path8>
     <path9>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/salinas-socs/data/ERA5_SIPNET/36.5N_121.5W/ERA5.9.2003-01-01.2011-12-31.clim</path9>
     <path10>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/salinas-socs/data/ERA5_SIPNET/36.5N_121.5W/ERA5.10.2003-01-01.2011-12-31.clim</path10>
    </path>
   </met>
   <poolinitcond>
    <source>RS_veg</source>
    <output>poolinitcond</output>
    <ensemble>20</ensemble>
    <path>
     <path1>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/salinas-socs/IC_files/9f296becf416ce87/IC_site_9f296becf416ce87_1.nc</path1>
     <path2>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/salinas-socs/IC_files/9f296becf416ce87/IC_site_9f296becf416ce87_2.nc</path2>
     <path3>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/salinas-socs/IC_files/9f296becf416ce87/IC_site_9f296becf416ce87_3.nc</path3>
     <path4>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/salinas-socs/IC_files/9f296becf416ce87/IC_site_9f296becf416ce87_4.nc</path4>
     <path5>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/salinas-socs/IC_files/9f296becf416ce87/IC_site_9f296becf416ce87_5.nc</path5>
     <path6>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/salinas-socs/IC_files/9f296becf416ce87/IC_site_9f296becf416ce87_6.nc</path6>
     <path7>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/salinas-socs/IC_files/9f296becf416ce87/IC_site_9f296becf416ce87_7.nc</path7>
     <path8>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/salinas-socs/IC_files/9f296becf416ce87/IC_site_9f296becf416ce87_8.nc</path8>
     <path9>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/salinas-socs/IC_files/9f296becf416ce87/IC_site_9f296becf416ce87_9.nc</path9>
     <path10>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/salinas-socs/IC_files/9f296becf416ce87/IC_site_9f296becf416ce87_10.nc</path10>
     <path11>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/salinas-socs/IC_files/9f296becf416ce87/IC_site_9f296becf416ce87_11.nc</path11>
     <path12>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/salinas-socs/IC_files/9f296becf416ce87/IC_site_9f296becf416ce87_12.nc</path12>
     <path13>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/salinas-socs/IC_files/9f296becf416ce87/IC_site_9f296becf416ce87_13.nc</path13>
     <path14>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/salinas-socs/IC_files/9f296becf416ce87/IC_site_9f296becf416ce87_14.nc</path14>
     <path15>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/salinas-socs/IC_files/9f296becf416ce87/IC_site_9f296becf416ce87_15.nc</path15>
     <path16>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/salinas-socs/IC_files/9f296becf416ce87/IC_site_9f296becf416ce87_16.nc</path16>
     <path17>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/salinas-socs/IC_files/9f296becf416ce87/IC_site_9f296becf416ce87_17.nc</path17>
     <path18>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/salinas-socs/IC_files/9f296becf416ce87/IC_site_9f296becf416ce87_18.nc</path18>
     <path19>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/salinas-socs/IC_files/9f296becf416ce87/IC_site_9f296becf416ce87_19.nc</path19>
     <path20>/projectnb2/dietzelab/ccmmf/usr/adey2/runs/salinas-socs/IC_files/9f296becf416ce87/IC_site_9f296becf416ce87_20.nc</path20>
    </path>
   </poolinitcond>
  </inputs>
 </run>
 <host>
  <name>localhost</name>
  <qsub>sbatch -J @NAME@ -o @STDOUT@ -e @STDERR@ </qsub>
  <qsub.jobid>Submitted batch job ([0-9]+)</qsub.jobid>
  <qstat>if test -z &quot;$(squeue -h -j @JOBID@)&quot;; then echo &quot;DONE&quot;; fi</qstat>
  <outdir>output/out</outdir>
  <rundir>output/run</rundir>
 </host>
 <multisettings/>
</pecan>
